@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  /* font-size: 22px; */
  /* color: #fff; */
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #206876c3, #1d5d63c3);
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(96, 92, 82, 0.4);
  border-radius: 10px; /* Add border radius */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  color: #dadce1;
}

.loginLink,
.loginLink:visited {
  color: #acbef3ef;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 18px; /* Slightly reduce font size */
  padding: 0.5rem; /* Adjust padding for better spacing */
  border: none; /* Remove borders */
  background-color: rgba(255, 255, 255, 0.9); /* Add a light background color */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-bottom: 1rem; /* Add some spacing between fields */
  transition: background-color 0.3s, box-shadow 0.3s; /* Add smooth transitions */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: white; /* Change background color on focus */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Enhance box shadow on focus */
  outline: none; /* Remove default focus outline */
}


label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  background-color: rgb(97, 138, 124);
  color: #fff;
  border: none;
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: background-color 0.3s; /* Add smooth transition for background color */
}

button:hover {
  background-color: rgb(77, 118, 104); /* Change background color on hover */
}


.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
   color: #fff; 
   padding: 0.25rem;
  position: relative;
  bottom: -10px;
} 

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
} 