.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #206876c3;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-left img {
    width: 30px;
    height: 30px;
  }
  
  .navbar-middle {
    display: flex;
    gap: 20px;
  }
  
  .navbar-middle a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-right button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar-right button:hover {
    text-decoration: underline;
  }